<form (submit)="onAddPost(postForm)" #postForm="ngForm">
  <mat-card>
    <mat-form-field>
      <input
        matInput
        type="text"
        name="title"
        ngModel
        required
        minlength="3"
        #title="ngModel"
        placeholder="Title"
      />
      <mat-error *ngIf="title.invalid">Please enter a post title.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea
        matInput
        rows="6"
        name="content"
        ngModel
        required
        minlength="3"
        #content="ngModel"
        placeholder="Content"
      ></textarea>
      <mat-error *ngIf="content.invalid">Please enter post content.</mat-error>
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary">
      Save Post
    </button></mat-card
  >
</form>
