<mat-spinner *ngIf="isLoading"></mat-spinner>
<form [formGroup]="formGroup" *ngIf="!isLoading" (submit)="onSavePost()">
  <mat-card>
    <mat-form-field>
      <input matInput type="text" placeholder="Title" formControlName="title" />
      <mat-error *ngIf="formGroup.get('title').invalid"
        >Please enter a post title.</mat-error
      >
    </mat-form-field>

    <!-- <div>
      <button mat-stroked-button type="button" (click)="filePicker.click()">
        Select Image
      </button>
      <input type="file" #filePicker (change)="onImagePicked($event)" />
      <div class="img-preview">
        <img
          *ngIf="imagePreviewPath"
          src="{{ imagePreviewPath }}"
          [alt]="formGroup.get('title').value"
        />
      </div>
    </div> -->
    <br />
    <mat-form-field>
      <textarea
        matInput
        rows="6"
        placeholder="Content"
        formControlName="content"
      ></textarea>
      <mat-error *ngIf="formGroup.get('content').invalid"
        >Please enter post content.</mat-error
      >
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary">
      Save Post
    </button></mat-card
  >
</form>
