<mat-spinner *ngIf="isLoading"></mat-spinner>

<mat-accordion *ngIf="!isLoading" multi="true">
  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header>
      {{ post.title }}
    </mat-expansion-panel-header>
    {{ post.content }}

    <mat-action-row>
      <a mat-button color="primary" routerLink="{{ '/edit/' + post.id }}"
        >Edit</a
      >
      <button mat-button color="warn" (click)="onDeleteBtnClick(post.id)">
        Delete
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>

<mat-paginator
  (page)="onChangePange($event)"
  [length]="posts.length"
  [pageSize]="2"
  [pageSizeOptions]="[1, 2, 5, 10]"
  aria-label="Select page"
>
</mat-paginator>

<p class="info-text body-2" *ngIf="posts.length === 0">No posts yet!</p>
